In [ ]:
import pandas as pd

In [ ]:
!ls

Untitled.ipynb	gcp_gpt_classification.ipynb  src  tutorials

In [1]:
projects/942952413834/secrets/s1

NameError: name 'projects' is not defined

In [3]:
from google.cloud import bigquery

In [4]:
from google.cloud import secretmanager
#https://www.alexanderjaeger.de/importerror-cannot-import-name-secretmanager-from-google-cloud-unknown-location/
#requirements.txt google-cloud-secret-manager==2.0.0

ImportError: cannot import name 'secretmanager' from 'google.cloud' (unknown location)

In [6]:
client = bigquery.Client(project='function-1-366607')

In [8]:
sql = '''SELECT * FROM `iowa_liquor_sales.sales` LIMIT 1000'''

In [22]:
sql = '''SELECT distinct item_number
#, item_description
, pack
, bottle_volume_ml
#, state_bottle_cost
#, state_bottle_retail
 FROM `function-1-366607.iowa_liquor_sales.sales`'''

In [ ]:
sql = f'''
  SELECT art.title
    , art.publication_datetime
    , art.language_code
    , art.snippet
    , art.body
    , art.subject_codes
    , art.credit
    , region_of_origin
    , art.industry_codes
    --, art.company_codes
    , art.company_codes_about
    --, art.company_codes_occur
  FROM factiva.articles art
    WHERE publication_datetime > factiva.timestamp2millis("2023-03-01")
    AND regexp_contains(art.body, {company_names}) 
    AND NOT regexp_contains(art.snippet, {exclude})
    AND NOT regexp_contains(art.body, {exclude})
    --AND regexp_contains(art.subject_codes, {subjects})
    AND language_code NOT IN ("zhcn", "ja")
    --AND regexp_contains(company_codes_about, {companies})
    --AND regexp_contains(region_of_origin, "EUR") 
    --AND regexp_contains(art.industry_codes, {inds})
  --LIMIT 1000
  '''

In [23]:
df = client.query(sql).to_dataframe()

In [24]:
df

      item_number  pack  bottle_volume_ml
0            5036    12               750
1           10805    24               375
2           12466    12               750
3           14474    12               750
4           15626    12               750
...           ...   ...               ...
12650      904967    12               750
12651      937394     6               750
12652      988591     6               750
12653      922472    12              1000
12654      901341     6               100

[12655 rows x 3 columns]

In [25]:
df.value_counts(subset=['item_number'])

item_number
39555          4
917951         4
39680          4
940595         4
984160         4
              ..
56670          1
5669           1
567            1
5672           1
x904631        1
Length: 12242, dtype: int64

In [28]:
df[df['item_number']=='39680']

      item_number  pack  bottle_volume_ml
251         39680    12                50
6770        39680    10               500
9553        39680    12               500
11856       39680    10                50